body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1rem;
    background-color: #1f2937;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #F9FAF8;
}

.right-header {
    display: flex;
    gap: 1rem;
}

.right-header a {
    text-decoration: none;
    color: #E5E7EB;
}

.bottom-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    gap: 3rem;
    background-color: #1f2937;
    color: #F9FAF8;
}

.container {
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.text-top {
    font-size:xx-large;
    font-weight: 600;
}

.text-middle {
    font-size: small;
    color: #E5E7EB;
}

.button-bottom button {
    color: #F9FAF8;
    border: 0.1rem solid #3882F6;
    border-radius: 0.5rem;
    background-color: #3882F6;
    padding: 0.5rem 1rem;
}

.img-right {
    padding: 3.5rem;
    background-color: grey;
    flex: 1;
    text-align: center;
    color: #E5E7EB;
}

.middle-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.middle-text-top {
    font-weight: bold;
}

.middle-container-for-containers {
    display: flex;
    gap: 2rem;
}

.middle-containers p {
    font-size: x-small;
    margin: 0;
    max-width: 6vw;
    text-align: center;
}

.a-container {
    min-height: 12vh;
    max-width: 6vw;
    border-radius: 5%;
    border: 0.1rem solid #3882F6;
}

.quote-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
}

.author {
    width: 27rem;
    text-align: right;
    font-weight:600;
}

.call-to-action-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-blue-container {
    background-color: #3882F6;
    padding: 0.7rem 3rem;
    display: flex;
    gap: 5rem; 
    align-items: center; 
    border: 1rem solid #3882F6;
    border-radius: 0.5rem;
}

.text-container {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-1 {
    font-weight: 600;
}

.text-2 {
    font-size: small;
}

.cta-button button {
    border: 0.1rem solid #E5E7EB;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1f2937;
    color: #F9FAF8;
}